
<h1>Salles</h1>
<%= link_to 'Reserver', new_salle_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salles.each do |salle| %>
      <tr>
        <td><%= salle.name %></td>
        <% if salle.status==true %>
          <td> Réserver </td>
        <% else %>
        
        <td> Libre </td>
        <td><%= link_to 'Faire une réservation', edit_salle_path(salle) %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

